.adminlogin.center
{
    height: 80vh;
    width: 500px;
    /*margin: 100px auto auto auto;*/
    padding:40px 40px 40px 40px;
    background-color: whitesmoke;
    overflow: auto;
    opacity: 1;
    transition: all 0.15s ease;
    position: fixed;
    left: calc((100vw - 500px)/2);
    top: 100px + 10vh;
}

.adminlogin.hide
{
    height: 80vh;
    width: 500px;
    /*margin: 100px auto auto auto;*/
    padding:40px 40px 40px 40px;
    background-color: whitesmoke;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease;
    position: fixed;
    left: calc((100vw - 500px)/2);
    top: 100px + 10vh;
}

.adminlogin.but.left-align
{
    margin-left: 0px;
    display: inline-block;
}

.adminlogin.but.right-align
{
    float:right;
    display: block;
}

.adminlogin.but.center-align
{
    margin-left: 100px;
    background-color: transparent;
    color: rgb(44, 118, 255);
    transition: all 0.1s ease-in;
}

.adminlogin.but.center-align:hover
{
    margin-left:100px;
    background-color: gainsboro;
    color: rgb(44, 118, 255);
    transition: all 0.1s ease-in;
}

.adminlogin.spacing
{
    display: block;
    margin-bottom: 2vh;
}

.adminlogin.linespace
{
    margin-right: 3vw;
    margin-bottom: 2vh;
}

.adminlogin.body
{
    height: 20vh;
}

.storylist.photogrid{
    margin-top: 15vh;
}

.storylist.container{
    flex: 1;
}